<html>
    <head>
        <title>
            Search  Github Repisotory
        </title>
    </head>
    <body>
        <h2>Search Github Repisotory</h2>
        
        <form method="POST" action="/search">
            <input type="radio" value="language" name="search_type" checked>Language
            <input type="radio" value="topic" name="search_type">Topic <br/>

            <input type="text" name="search_input">
            <button type="submit" name="search">Search</button>
        </form>

       
    </body>
</html>